* {
margin: 0;
padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  background: linear-gradient(45deg, rgb(255, 180));
}

h1 {
  color: aquamarine;
  font-size: 18px;
  line-height: 14px;
}

p {
  color: aquamarine;
  font-size: 18px;
  line-height: 14px;
}

li {
  text-decoration: none;
}

img-container {
  display: flex;
  height: 80px;
  width: 40px;
}

main-logo {
  width: 20px;
  height: 16px;
}

plant-container-cart {
  width: auto;
  height: 100vh;
}

nav {
  display:flex;
  justify-content: center;
}

